body{
    background-color: lightblue
}

.snowman{
    width: 15px;
    height: 15px;
    background-color: black;
    margin: auto;
    margin-top: 100px;
    border-radius: 50%;
    box-shadow: 40px 0 black,
        20px 25px 0 10px orange,
        
        -5px 55px 0 -4px,
        4px 60px 0 -4px,
        15px 65px 0 -4px,
        25px 65px 0 -4px, 
        35px 60px 0 -4px,
       
                
        20px 110px 0 5px black,
        20px 150px 0 5px,
        20px 200px 0 5px,


        
        19px 22px 0 60px white,
        19px 170px 0 100px white,


        
        19px 530px 0 300px green,
        
        -240px -80px 0 5px black,
        -150px -80px 0 5px black,

        -200px -80px 0 120px gold
        

}